#Link {
    min-height: 95%;
    max-height: 95%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}
#Link-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    position: fixed;
    z-index: 99;
    background-color: white;
}

#Link-Header-Content {
    max-width: 50%;
    min-width: 25%;
    height: 5vh;
    padding-left: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid pink;
}

#Link-Container {
    height: 100%;
    width: 100%;
    margin-top: 6vh;
}

@media only screen and (max-width: 600px) {
    #Link {
        width: 100%;
        min-height: 60%;
        max-height: 60%;
        border-bottom: 1px solid pink;
    }
    #Link-Header {
        margin-bottom: 0;
    }
    #Link-Header-Content {
        min-width: 10%;
        border: none;
    }
    #Link-Container {
        width: 100%;
        min-height: 50px;
    }
}