#WorkspaceCardContainer{
    flex-direction: column;
    height: fit-content;
    width: 25%;
    margin: 2.5%;
    background-color: rgba(143, 143, 143, 0.349);
    padding: 2.5%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    border-radius: 10px;
    overflow: scroll;
}

#WorkspaceContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#WorkspaceName {
    font-size: 2vh;
    text-align: center;
    overflow-wrap: break-word;
}

#WorkspaceHashtag {
    color: #c9639b;
    font-size: 1.5vh;
    font-weight: 800;
    text-align: center;
}