.modal {
    background-color: white;
    color: pink;
    font-weight: 900s;
    padding: 2.5%;
}

.modal-header {
    background-color: white;
    color: black;
    border: 1px solid pink;
}

.modal-body {
    background-color: white;
    border: 1px solid pink;
    color: pink;
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form .label {
    margin: 2.5%;
    color: black;
}

.form #username {
    width: 50%;
}

.form .input {
    background-color: white;
    width: 50%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: none;
    border-right: none;
}

.form .button {
    width: 50%;
    margin: 2.5%;
    background-color: transparent;
    border: 1px solid pink;
    color: black;
    transition: .5s linear;
}

.form .button:hover{
    background-color: rgb(39, 39, 39);
    border: none;
    color: pink;
}

.modal-footer {
    background-color: white;
    border: 1px solid pink;
    width: 100%;
    font-weight: 900;
}

.footer-content {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: row;
}

.footer-content a {
    text-decoration: none;
    cursor: pointer;
}


.modal-footer .button {
    background-color: transparent;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    font-weight: 900;
    transition: .5s linear;
}