.HeroContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    color: rgb(59, 59, 59);
}

.Header {
    font-size: 8vw;
    margin-bottom: 0;
    display: flex;
    justify-content: row;
    align-items: center;
    height: 150px;
}

.header-o {
    text-decoration: none;
    color: pink;
    animation: blinker 10s linear infinite;
}

.header-o:hover {
    color: pink;
    cursor: pointer;
    transition: .5s linear;
}

.header-o::after {
    color: rgb(190, 190, 190);
}
.Subtext {
    font-size: 2vw;
    font-weight: 500;
}

@keyframes blinker {
    50% {
    opacity: 0;
    }
}