#LinkContainerCard {
    flex-direction: column;
    height: fit-content;
    width: 95%;
    background-color: rgba(143, 143, 143, 0.349);
    padding: 2.5%;
    display: grid;
    grid-template-columns: 7fr 1fr;
    border-radius: 10px;
    margin: 2.5%;
}

#LinkContainerCard a {
    text-decoration: none;
    color: none;
}

#LinkContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#LinkName {
    font-size: 2vh;
    text-align: left;
    color: black;
}

#LinkDescription {
    color: #c9639b;
    font-size: 1.5vh;
    font-weight: 800;
    text-align: left;
}