#CategoryContainerCard {
    flex-direction: column;
    height: fit-content;
    width: 95%;
    background-color: rgba(143, 143, 143, 0.349);
    padding: 2.5%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    border-radius: 10px;
    margin: 2.5%;
}

#CategoryContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#CategoryName {
    font-size: 2vh;
    text-align: center;
}

#CategoryHashtag {
    color: #c9639b;
    font-size: 1.5vh;
    font-weight: 800;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #CategoryContainerCard {
        width: 25%;
    }
}